##
# Node and Logs
#
node_modules/
bower/
*.log
npm*
null

##
# Typings and Apps
#
typings/
**/*.js
**/*.js.map
app/**/*.js.map
gulp/**/*.js
gulp/**/*.js.map
!gulp/**/clean.js
!gulp/**/TS.js
gulpfile.js
gulpfile.js.map
gulp.config.js
gulp.config.js.map
!app/**/system.config.js

##
# Other
#
.DS_Store
app/**/*.css
app/**/min.*
assets/js/min.*
assets/css/*.css
less/*.css
app/shared/config.ts
dist/
