##
# Node and Logs
#
node_modules/
bower/
*.log
npm*

##
# Typings and Apps
#
typings/
app/**/*.js
app/**/*.map

##
# Other
#
.DS_Store
app/**/*.css
app/**/min.*
assets/js/min.*
assets/css/*.css
less/
app/shared/config.ts
gulp/**/*.js.map
gulp/modules.js
gulp/modules.js.map
gulp/useref.js
gulp/useref.js.map
dist/
