##
# Node and Logs
#
node_modules/
bower/
*.log
npm*

##
# Typings and Apps
#
typings/
app/**/*.js
app/**/*.map

##
# Other
#
.DS_Store
app/**/*.css
app/**/min.*
assets/js/min.*
assets/css/*.css
less/*.css
app/shared/config.ts
gulp/**/*.js.map
gulp/modules.js
gulp/modules.js.map
gulp/useref.js
gulp/useref.js.map
gulp/less.watch.js
gulp/less.watch.js.map
gulp/less.compile.minify.js
gulp/less.compile.minify.js.map
gulp/settings.js
gulp/settings.js.map
gulp/uglify.js
gulp/uglify.js.map
gulp/wiredep.js
gulp/wiredep.js.map
gulp/html.min.js
gulp/html.min.js.map
gulp/dev.js
gulp/dev.js.map
gulp/prod.js
gulp/prod.js.map
gulp/utilities/errors.js
gulp/utilities/errors.js.map
gulp/utilities/logger.js
gulp/utilities/logger.js.map
dist/
back/api/index.js
back/api/index.js.map
back/config/const.js
back/config/const.js.map
back/config/express.js
back/config/express.js.map
back/config/modules.js
back/config/modules.js.map
back/routes/index.js
back/routes/index.js.map
back/services/deploy.js
back/services/deploy.js.map
back/services/disablecache.js
back/services/disablecache.js.map
back/services/logger.js
back/services/logger.js.map
back/services/disablecache.js
back/services/disablecache.js.map
back/services/loopromise.js.map
back/services/loopromise.js
back/services/xpoweredby.js
back/services/xpoweredby.js.map
back/app.server.js
back/app.server.js.map
gulpfile.js
gulpfile.js.map
inject.js
inject.js.map
